* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: white;
  font: 16px Arial;
  height: 100%;
  background-color: lightgray;
}

.nav {
  background-color: black;
  overflow: hidden;
}

.nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: darkgray;
  color: black;
}

.nav a.active {
  background-color: gray;
  color: white;
}

.recent {
  width: 100%;
  text-align: center;
}

.article {
  display: inline-block;
  height: 250px;
  width: 250px;
  background-color: white;
  margin: 25px;
}

.article:hover {
  color: darkgray;
}

.bigArticle {
  display: inline-block;
  height: auto;
  width: 80%;
  background-color: white;
  margin: 25px;
}

.related {
  display: inline-block;
  height: auto;
}

.relatedHeading {
  font-size: 30px;
}

.pic {
  height: 125px;
  background-color: silver;
}

.bigPic {
  height: 250px;
  background-color: silver;
}

.content {
  position: absolute;
  width: 250px;
  background color: ivory;
}

.bigContent {
  position: relative;
  width: 90%;
  margin: auto;
  background color: white;
}

.bigContent p {
  color: black;
  background-color: white;
  padding: 1% 5%;
}

.bigTitle {
  color: gray;
  font-size: 50px;
}

.title {
  height: 30px;
  background-color: gray;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.title a {
  text-decoration: none;
  color: black;
  position: relative;
  display: block;
  padding-top: 5px;
}

.title a:hover {
  text-decoration: none;
  color: white;
  position: relative;
  display: block;
  padding-top: 5px;
}

.fact {
  height: 95px;
  background-color: white;
  overflow: hidden;
  position: absolute;
}

.fact a {
  text-decoration: none;
  color: black;
  position: relative;
  margin: 40px 10px;
  display: inline-block;
  z-index: 10;
}

.fact p {
  height: 95px;
  text-align: center;
  margin: 15px;
  position: relative;
  padding-top: 30px;
}

.search {
  height:70px;
  width: 100%;
  background-color: darkgray;
}

.searchbox {
  height: 50px;
  width: 90%;
  background-color: white;
  margin: 10px 5% ;
  position: absolute;
  border: solid 1px black;
}

.country {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: white;
  margin: 10px;
}

.flag {
  height: 100px;
  width: 100px;
  background-color: silver;
}

.register {
  margin: 100px;
  padding: 100px;
  border: solid 1px black;
  height: 100%;
  width: 70%;
  display: inline-block;
}

.register p {
  font-size: 30px;
  margin: 10px;
}

.register input {
  width: 80%;
  height: 40px;
  font-size: 30px;
  margin: 10px;
}

.register button {
  display: block;
  height: 30px;
  width: 60px;
  font-size: 20px;
  margin: 0 50% 0 50%;
}
