* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: white;
  font: 16px Arial;
  height: 100%;
  background-color: lightgray;
}

.main {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}


.home {
  width: 50px;
  background-color: gray;
  height: 50px;
  position: absolute;
}

.home a {
  position: relative;
  display: block;
  margin: 15px 0 0 5px;
  text-decoration: none;
  color: black;
}

.home a:hover {
  color: lightgray;
}

.search {
  height: 50px;
  width: 100%;
  background-color: darkgray;
  position: relative;
}

.searchbox {
  height: 50px;
  margin-left: 50px;
  background-color: white;
  position: relative;
}

.page {
  width: 100%;
  background-color: lightgray;
  height: 20px;
  position: relative;
  margin: 20px 0px;
}

.page p {
  text-align: center;
  font-size: 30px;
}

.article {
  display: inline-grid;
  height: 300px;
  width: 300px;
  background-color: white;
  margin: 20px 10px 0px;
}

.pic {
  height: 150px;
  background-color: silver;
}

.title {
  height: 30px;
  background-color: gray;
}

.title a {
  text-decoration: none;
  color: black;
  position: relative;
  display: block;
  padding-top: 5px;
}

.title a:hover {
  text-decoration: none;
  color: white;
  position: relative;
  display: block;
  padding-top: 5px;
}

.fact {
  height: 120px;
  background-color: white;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.fact a {
  text-decoration: none;
  color: black;
  position: relative;
  align-items: center;
  width: 100%;
  padding: 10px;
  display: block;
  overflow: hidden;
}

.bigArticle {
  display: inline-block;
  height: auto;
  width: 80%;
  background-color: white;
  margin: 25px;
}

.bigPic {
  height: 250px;
  background-color: silver;
}

.bigContent {
  position: relative;
  width: 90%;
  margin: auto;
  background color: white;
}

.bigContent p {
  color: black;
  background-color: white;
  padding: 1% 5%;
}

.bigTitle {
  color: gray;
  font-size: 50px;
}

.related {
  display: inline-block;
  height: auto;
}

.relatedHeading {
  font-size: 30px;
}
